.breadcrumb {
  background: none;
  .ant-breadcrumb-link {
    text-transform: uppercase;
    color: #5f6d7b;
    font-family: 'PT Sans - Narrow';
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.39px;
  }
  .ant-breadcrumb {
    span:last-child {
      .ant-breadcrumb-link {
        color: #e6400c;
      }
    }
  }
}
