.search-form {
    background-color: #fff;
    font-size: 24px;
    margin-right: 0;
    margin-left: 0;
    .red_text {
        color: #EF8969;
    }
    .input-wrapper{ 
        margin-left: 15rem;
    }
}